:root{
    --gray:#2C3E50;
    --green:#1ABC9C;
    --ligth-gray:#3A546D;
    --white:#fff;
    --black-transparent:rgba(0,0,0,0.5);
    --green-hover:#2eecb0;
}
.my-bg-gray{
    background-color: var(--gray);
}
.my-bg-light-gray{
    background-color: var(--ligth-gray);
}
.my-bg-green{
    background-color: var(--green);
}
.my-bg-white{
    background-color: var(--white);
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 90px;
    background-color: var(--gray);
    z-index: 1200;
}
#hero{
    padding-top: 100px;
    padding-bottom: 30px;
}
#hero img{
    width: 70%;
    max-width: 100%;
}
#portfolio{
    padding: 30px 0;
}
#about{
    padding: 30px 0;
}
#footertop{
    background-color: var(--ligth-gray);
    padding-top: 30px;
}

#footertop h6{
    text-transform: uppercase;
}
#footertop i{
    padding: 3px;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
}
#footerbottom{
    background-color: var(--gray);
}
.my-button{
margin-top: 50px;
   width: 200px;
   align-self: center;
}
.mylayover{
    width:100%;
    height: 100%;
    background-color: var(--black-transparent);
    z-index: 1100;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;   
}
.mylayover i{
    color: var(--white);
    font-size: 40px;
    padding: 0;
    

    

}
.myimg-card{
    position: relative;
}
.myimg-card:hover .mylayover{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#start-boot{
    text-decoration: underline;
    color: var(--green);
    font-weight: bold;
    transition: all 1s;
}
#start-boot:hover{
    cursor: pointer;
    color: var(--green-hover);
}